/* Waste Disposal Nodes */
.node.is-waste-disposal {
    border-color: var(--accent-orange);
}

.node-flow-container-waste {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.node-flow-container-waste .flow-inputs {
    display: flex;
    justify-content: center;
}

.node-flow-container-waste .flow-output {
    display: flex;
    justify-content: center;
}

.node-flow-container-waste .flow-item-icon.fa-trash {
    color: var(--accent-orange);
    font-size: 24px;
}